<!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form [formGroup]="quizForm"(ngSubmit)="agregarFicha()" action="" class="quiz-ficha example-form">
        <div>
            <title>Crear Quiz</title>
            <h1>Titulo:</h1>
            <mat-form-field class="example-form-field">
                <input formControlName="titulo" matInput type="text" name="titulo">
                <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <h1>Duracion</h1>
            <mat-form-field class="example-form-field">
                <input formControlName="duracion" matInput type="number" name="duracion">
                
                <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <h1>Pregunta</h1>
            <mat-form-field class="example-form-field">
                <input formControlName="pregunta" matInput type="text" name="pregunta">
                <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <h1>Respuesta 1</h1>
            <mat-form-field class="example-form-field">
                <input formControlName="respuesta 1" matInput type="text" name="respuesta 1">
                <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <h1>Respuesta 2</h1>
            <mat-form-field class="example-form-field">
                <input formControlName="respuesta 2" matInput type="text" name="respuesta 2">
                <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <h1>Respuesta 3</h1>
            <mat-form-field class="example-form-field">
                <input formControlName="respuesta 3" matInput type="text" name="respuesta 3">
                <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <h1>Respuesta 4</h1>
            <mat-form-field class="example-form-field">
                <input formControlName="respuesta 4" matInput type="text" name="respuesta 4">
                <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary">Crear</button>

    </form>
    
</body>

</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <form [formGroup]="quizForm" (ngSubmit)="agregarFicha()" action="" class="quiz-ficha example-form">
        <div class="form-group">
            <label for="titulo">Titulo:</label>
            <input formControlName="titulo" matInput type="text" class="form-control" id="titulo" name="titulo">
        </div>
        <div class="form-group">
            <label for="duracion">Duracion:</label>
            <input formControlName="duracion" matInput type="number" class="form-control" id="duracion" name="duracion">
        </div>
        <div class="form-group">
            <label for="pregunta">Pregunta:</label>
            <input formControlName="pregunta" matInput type="text" class="form-control" id="pregunta" name="pregunta">
        </div>
        <div class="form-group">
            <label for="respuesta1">Respuesta 1:</label>
            <input formControlName="respuesta1" matInput type="text" class="form-control" id="respuesta1" name="respuesta1">
        </div>
        <div class="form-group">
            <label for="respuesta2">Respuesta 2:</label>
            <input formControlName="respuesta2" matInput type="text" class="form-control" id="respuesta2" name="respuesta2">
        </div>
        <div class="form-group">
            <label for="respuesta3">Respuesta 3:</label>
            <input formControlName="respuesta3" matInput type="text" class="form-control" id="respuesta3" name="respuesta3">
        </div>
        <div class="form-group">
            <label for="respuesta4">Respuesta 4:</label>
            <input formControlName="respuesta4" matInput type="text" class="form-control" id="respuesta4" name="respuesta4">
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
    
</body>
</html>
