footer {
    background-color: black;
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
}

.social-icons {
    margin-top: 1px;    
    margin-right: 400px;
    margin-left: 300px;

}

#insta, #face, #wasa, #tik {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.info{
    display: flex;
}