<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

<div class="scroll-container">
    <form [formGroup]="leccionesForm" (ngSubmit)="agregarLecciones()" action="" class="quiz-ficha example-form">
        <div class="form-group">
            <label for="Nombre_de_la_leccion">Nombre de la lección:</label>
            <input formControlName="Nombre_de_la_leccion" matInput type="text" class="form-control" id="Nombre_de_la_leccion" name="Nombre_de_la_leccion">
        </div>
        <div class="form-group">
            <label for="Contenido">Contenido:</label>
            <input formControlName="Contenido" matInput type="text" class="form-control" id="Contenido" name="Contenido">
        </div>
        <div class="form-group">
            <label for="Tipo_de_leccion">Tipo de lección:</label>
            <input formControlName="Tipo_de_leccion" matInput type="text" class="form-control" id="Tipo_de_leccion" name="Tipo_de_leccion">
        </div>

        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</div>
    
</body>
</html>
